$clear: rgba(0, 0, 0, 0);


$black: #000;
$white: #ffffff;
$silver: #cccccc;

$grey: #535333;
$nevada: #64696d;


//orange
$raffia: #ebd5b9;
$calico: #ddb98a;

// size
$level: 680px;
$mobile: 468px;
$desktop: 1200px;
$ipad: 768px;
$laptop: 1024px;
$large: 1440px;

